/* For the time being, this only styling will be to distinguish the buttons from each other */

.button {
  border: 1px solid black;
  margin: 10px;
}


footer {
  padding: 50px 0;
  background-color: rgb(98, 171, 203);
}
